
body{
    margin: 0; padding: 0;
    
}

.header{
    background: url(bg.webp) no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;


    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    color: white; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .testbox{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, rgba(47, 16, 0, 0.624), rgba(1, 10, 130, 0.059));
    
}

h3{
    /* z-index: 10000; */
    color:white;
    font-size: 5rem;
    text-shadow: 0 2px 50px black;
    text-transform: capitalize;
    display: inline;
    position: absolute;
}

.header .logo img{
    z-index: 1000;
    position: fixed;
    top: 24px;
    left: 64px;
    width: 50px;
    height: 50px;
    display: inline;
}

.header .container .middle{
    background: no-repeat;
    display: flex;
    width: 100%;
}

.header .container .middle img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    
}

.header .container .middle .left p{
    transform: rotate(90deg);
    position: absolute;
    top: 90px; 
    right: 90px;
    
}